* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --spacing: 20px;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("typingImg.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.466);
}
.main {
  z-index: 1;
}
.paragraphContainer {
  overflow: hidden;
  scroll-behavior: smooth;
  text-align: center;
  padding: var(--spacing);
  letter-spacing: 1px;
  width: 55vw;
  height: 60vh;
  line-height: 45px;
  background: rgb(75, 147, 255);
  color: white;
  font-size: 2rem;
  font-family: sans-serif;
  box-shadow: inset 0 0 10px black;
}
.paragraphs {
  margin-bottom: calc(var(--spacing) + 30px);
  line-height: 50px;
}
.inputText {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}
.incorrect {
  color: red;
}

.correct {
  color: rgba(255, 255, 255, 0.37);
}
.active {
  position: relative;
  color: rgb(0, 217, 255);
}
.spaceIncorrect {
  position: relative;
}
.active::before,
.spaceIncorrect::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgb(0, 217, 255);
  animation: blink 0.7s linear infinite;
}
.spaceIncorrect::before {
  background: red;
  animation: none;
}
.typingInfo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  height: 50px;
  background: rgb(82, 82, 82);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.575);
}
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
.endMenu {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(236, 236, 236);
  width: 600px;
  height: 400px;
  padding: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(255, 255, 255);
}
.completed {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 0.3rem;
  background: rgb(0, 119, 255);
  border-radius: 10px;
  padding: 0.3rem;
  box-shadow: 0 0 10px rgb(53, 73, 255);
}
h2 {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}
.results {
  color: rgb(150, 150, 150);
  padding: 1rem;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: inset 3px 3px 5px rgb(197, 197, 197),
    inset -3px -3px 5px rgb(197, 197, 197),
    inset 5px 5px 15px rgb(197, 197, 197),
    inset -5px -5px 15px rgb(197, 197, 197);
}
#restart {
  background: none;
  outline: none;
  border: none;
  background: rgb(0, 119, 255);
  border-radius: 20px;
  box-shadow: 0 0 7px rgb(30, 30, 241);
  padding: 0.8rem;
  font-size: 1.3rem;
  color: white;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  transition: 0.7s;
}
#hscore {
  margin-bottom: 1rem;
}
#restart:hover {
  background: rgb(26, 26, 255);
}
.leftPartMenu {
  position: absolute;
  left: 0;
  width: 350px;
  height: 100vh;
}
.menuIcon {
  position: absolute;
  top: 70px;
  cursor: pointer;
  z-index: 99;
}
.menuIcon i {
  padding: 1rem;
  background: rgb(0, 119, 255);
  color: white;
  font-size: 2rem;
  border-radius: 0 10px 10px 0;
}
.menuType h2 {
  font-family: sans-serif;
  text-align: center;
  color: white;
}
.menusContainer {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 1.5rem;
  background: rgb(0, 119, 255);
  border-radius: 0 10px 10px 0;
  top: 150px;
  left: -100%;
  transition: 1s;
  z-index: 99;
}
.menuType {
  display: none;
  width: 82%;
  float: right;
}
.menusContainerActive {
  left: 0%;
  display: block;
}
.activeMenuType {
  display: block;
}
.languageContainer,
.timeContainer,
.paraMenuContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 1.1rem;
  margin-top: 2rem;
}
.menuElement {
  font-family: sans-serif;
  color: white;
  width: 90px;
  height: 60px;
  border: 4px solid white;
  border-radius: 10px;
  display: grid;
  place-content: center;
  font-size: 1.4rem;
  cursor: pointer;
  text-align: center;
}
.para {
  font-size: 1.6rem;
}
.languageContainer {
  grid-template-columns: 1fr;
}
.language {
  font-size: 1.6rem;
  width: 150px;
  height: 80px;
}
.activeLanguage {
  background-color: white;
  color: rgb(0, 119, 255);
  font-weight: bold;
}
.menuListItem {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(0, 26, 255);
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
.menuListItem:hover,
.menuIcon i:hover,
.menuElement:hover {
  background: rgba(255, 255, 255, 0.897);
  color: rgb(0, 119, 255);
}
.activeMenu {
  background: white;
  color: rgb(0, 119, 255);
}
.menuList {
  background: rgb(0, 119, 255);
  box-shadow: 0 0 5px rgb(0, 26, 255);
  border-radius: 0 5px 5px 0;
  position: absolute;
  top: 25%;
  left: 0;
  height: 50%;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
